.collapsible {
  background-color: #123040;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 30px;
  margin-top:1%;
}

.active, .collapsible:hover {
  background-color: #45e632;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(217, 233, 242);
  color: white;
  font-family: arial;
}
#cen{
  position: absolute;
  margin-left: 50%;
}
